h3 {
    color: white;
    font-weight: bold;
}

.chooseTask__add--button {
    background-color: #005F73;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    right: 0;
    margin: 0;
    padding: 10px;
    position: absolute;
}

.chooseTask__add--button:hover {
    cursor: pointer;
    background-color: #00819a;
}

.chooseTask__container {
    background-color: #0A9396;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 10px;
    width: 80%;

}

.chooseTask__input {
    border-radius: 5px;
    display: block;
    font-size: 1rem;
    padding: 10px;
    text-align: left;
    width: 250px;
    
}

.chooseTask__input--container {
    display: flex;
    align-items: end;
    justify-content: center;
    margin-bottom: 40px;
    position: relative;
    width: 90%;
}

.chooseTask__taskList--container {

    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 90%;
}

.chooseTask__taskList--task {
    margin-top: 10px;
}

.task__container {
    margin: 0 auto;
}