h1 {
    color: white;
    font-size: 2.5rem;
}

.taskTracker__container {
    background-color: #005F73;
    border: 1px solid black;
    border-radius: 10px;
    margin: 50px auto;
    padding: 20px;
    width: 600px;
}