.task__button {
    background-color: #CA6702;
    border: 1px solid black;
    border-radius: 5px;
    color: #f1ede0;
    font-weight: 600;
    margin: 0;
    padding: 10px;
}

.task__button:hover {
    cursor: pointer;
    background-color: #fd8002;
}

.task__name {
    background-color: #E9D8A6;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0;
    padding: 10px 5px;
    text-align: center;
    width: 300px;
}

.task__container {
    display: flex;
    height: 40px;
    justify-content: space-between;
    width: 100%;
}